<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xml:lang="it" lang="it"
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
        <meta name="robots" content="noindex"/>
        <title><ui:insert name="title"></ui:insert></title>
        <link rel="stylesheet" href="#{request.contextPath}/css/stile.css" type="text/css" />
        <link rel="stylesheet" href="#{request.contextPath}/css/private.css" type="text/css" />
    </h:head>

    <h:body>

        <div class="generale">
            <div class="barramenu">
                <h:form>
                    <p:menubar>
                        <p:submenu label="File" icon="ui-icon-wrench" 
                                   rendered="#{not modello.utente.ruoloOperatore}" >
                            <p:menuitem value="Operazioni Brano" outcome="/admin/gestisciBrani"/>
                            <p:menuitem value="Info" outcome="/admin/schermoAmministratore"/>

                        </p:submenu>
                        <p:menuitem value="Esci" action="#{controlloLogin.esci}" icon="ui-icon-close" />
                    </p:menubar>
                </h:form>
            </div>
        </div>

        <div class="content">
            <ui:insert name="body"></ui:insert>            
        </div>

        <div class="ui-g-12">
            <div style="text-align: center;">
                <p>Unibas - CdL Ingegneria Informatica - Progetto sviluppato con JSF 2.3 + PrimeFaces 7.0 + Hibernate 4.3.11</p>
                <p>Autore <strong>Vincenzo Palazzo</strong></p>
                <img style="width: 25em; height: 5em;" src="#{request.contextPath}/icons/primefaces-logo.png"></img>
            </div>
        </div>
    </h:body>
</html>